// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Syncfusion styles. May this styles be unused
@import "~@syncfusion/ej2-base/styles/bootstrap.css";
@import "~@syncfusion/ej2-vue-grids/styles/bootstrap.css";
@import "~@syncfusion/ej2-navigations/styles/bootstrap.css";
@import "~@syncfusion/ej2-buttons/styles/bootstrap.css";
@import "~@syncfusion/ej2-icons/styles/bootstrap.css";
@import "~@syncfusion/ej2-popups/styles/bootstrap.css";
@import "~@syncfusion/ej2-dropdowns/styles/bootstrap.css";
@import '~@syncfusion/ej2-base/styles/material.css'; // from ItemList.vue
@import '~@syncfusion/ej2-buttons/styles/material.css'; // from ItemList.vue
@import "~@syncfusion/ej2-inputs/styles/bootstrap.css"; // from UnitPrice

.very-center {
    width: 350px;
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);transform: translate(calc(-50% + 100px), calc(-50% + 100px));
}

.btn, .form-control{
    border-radius: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3490dc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.exit-btn:before {
    content: '\eb3a';
}
.navbar{
    background-color: $navbar-bg;
    border:1px solid dimgray;
}
.bg-blue{
    background-color: $navbar-bg;
}
.btn{
    border-color: dimgray;
}
.btn-fixed-width{
    width: 130px;
    text-align: center;
    font-size: 1rem;
}
.btn-warning{
    color: #fff;
    background-color: $orange;
    border-color: dimgray;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active{
    color: #fff;
    background-color: $orange-hv;
    border-color: dimgray;
}
.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: $orange;
    border-color: dimgray;
}
.r-primary{
    background-color: #8faadc !important;
}
.r-danger{
    color: #FFFFFF;
    background-color: #f1013a !important;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #FFFFFF;
}