// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.very-center {
    width: 350px;
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);transform: translate(calc(-50% + 100px), calc(-50% + 100px));
}

.btn, .form-control{
    border-radius: 0;
}

